body
{
	background: white;
	margin: 0;
	font-family: arial,sans-serif;
	padding-top: 15px;
}

a:link
{
    text-decoration: none;
    color: #D14836;
}
a:visited
{
    text-decoration: none;
    color: #D14836;
}

a:active 
{
    text-decoration: none;
    color: #D14836;
}

a:hover {
    text-decoration: underline;
    color: #D14836;
}

#menu
{
	color: white;
	width: 800px;
	padding: 5px 5px 5px 5px;
	background: black;

	margin-right:auto;
	margin-left:auto;
	border-radius: 5px 5px 0px 0px;
}

#body
{
	color: #333333;

	width: 800px;
	padding: 5px 5px 5px 5px;
	background: #e6e6e6;

	margin-right:auto;
	margin-left:auto;
	
	border-radius: 0px 0px 5px 5px;

/*    background-image: url(levelshots/zih_roof.jpg);*/
/*    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(1,0,0,1)), to(rgba(0,0,0,0)) );*/
}

#title
{
	color: #333333;

	width: 800px;
	padding: 5px 5px 5px 5px;
	background: #e6e6e6;

	margin-right:auto;
	margin-left:auto;
	
	border-bottom: solid 1px #cccccc;
}

#titlebg
{
    float: right;
}


table
{
    background: white;
    padding: 0px;
    border-width: 0px;
    border-spacing: 0px;
}

th
{
 	background: black;
	color: white;
    text-align: left;
    padding: 0px 3px 0px 3px;
    border-width: 0px;
}

td
{
    padding: 2px;
    border-width: 0px;
}

tr:hover
{
 	background: #cccccc;
}

#levelshots_container
{
    width: 690;
    margin: 0px auto -1px auto; 
    height: auto;
    overflow: hidden;
}

#levelshot_container
{
    width: 128;
    height: 128;
    float: left;
    margin: 5px;
    position: relative;
}

#levelshot_label
{
    top:  0px;
    left: 0px;
    position: absolute;
    background: rgba(255,255,255,0.5);
    padding: 1px 3px 1px 3px;
    border-radius: 5px 0px 5px 0px;
    font-size: small;
}

#levelshot_image_container
{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

#levelshot_label {
    z-index: 10;
}

#levelshot_image
{
    width: 128;
    height: 128;
    border-radius: 5px;
}